/*
Theme Name: CCPhotography
Theme URI: http://www.cristiancastellana.es/
Author: Hector Ovalles
Author URI: https://webdevstudios.com/
Description: Cristian Castellana Portfolio
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ccphoto
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.

*/

$output-bourbon-deprecation-warnings: false;
@import 'bourbon';
@import 'utilities/functions/index';
@import 'utilities/variables/index';
@import 'neat';
@import 'utilities/mixins/index';
@import 'utilities/helpers/index';
@import 'assets/bower_components/normalize-css/normalize.css';
@import 'assets/bower_components/animate.css/animate.css';

@import 'base/index';
@import 'structure/index';
@import 'modules/index';
@import 'plugins/index';
@import 'views/index';
@import 'widgets/index';

#cc-site {
  height: 100vh;
  display:grid;
  grid-template-columns: 30vw auto;
  grid-template-rows: 3fr 5fr 60px;
  grid-template-areas: "header content"
                       "section content"
                       "footer content";
}
.site-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  a {
    color:#FFF;
    text-decoration: none;
  }
}
header {
  background: #1b1b1b;
  grid-area:header;

}

section.info {
  grid-area:section;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFF;
  background: #1b1b1b;
}

#content {
grid-area:content;
}
footer {
  grid-area: footer;
  background: #1b1b1b;
}

.slide__caption {
  text-align: center;
}

.site-branding {
  margin-top: 2.5rem;
}
#slick-slider-1, .slide__inner {
  width:900px !important;
}
